body {
	background-color: #253e66;
	margin: 0;
}

h1 {
	color: white;
	padding-top: 2rem;
	padding-left: 2rem;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.main-container {
	display: flex;
	width: 80vw;
	padding: 0 10vw 2rem 10vw;
}

.post-it-container {
	flex: 4;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.post-it {
	background-color: #FBFF2B;
	margin-top: 5rem;
	width: 15rem;
	min-width: 15rem;
	height: 15rem;
	max-height: 15rem;
	margin-right: 2rem;
}

.add-more {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2rem;
	background-color: transparent;
}

form {
	width: 40vw;
	height: 20vh;
	margin: 5vh 30vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-container {
	height: 100%;
	width: 25vw;
	padding-right: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.text-container > label {
	color: white;
}

.text-container > textarea {
	border-radius: 10px;
	resize: none;
}

.text-container > textarea:focus-visible {
	outline: none;
	border: 3px solid #5679b3;
}

.text-container > p {
	margin: 0;
	color: white;
}

form > button {
	width: 9vw;
	height: fit-content;
	border-radius: 5px;
	background-color: #5679b3;
	border: none;
	box-shadow: 0 0 10px black;
	padding: 0.5rem;
}

@media screen and (max-width: 800px) {
	.post-it {
		width: 10rem;
		min-width: 10rem;
		max-height: 10rem;
	}

	form {
		width: 70vw;
		margin: 2vh 15vw;
		flex-direction: column;
		gap: 2rem;
	}

	.text-container {
		width: 50vw;
		padding: 0;
		height: fit-content;
	}

	form > button {
		width: 50vw;
	}

	.add-more {
		margin-left: 0;
		margin-right: 0;
	}
}
